[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
supervisor = "*"
superlance = "*"
slacker = "*"
prometheus_client = "*"
rq = "1.10.1"
multicall-py
blockchain-etl = {git = "https://github.com/jsvisa/blockchain-etl.git"}

[dev-packages]
pre-commit = "*"
black = "*"
ipython = "*"
jupyterlab = "*"
pytest = "*"

[pipenv]
allow_prereleases = true
