[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.3"
pymysql = "*"
requests = "*"
eth-hash = "*"
pandas = "==1.4.0"
web3 = "*"
pyyaml = "*"
sqlalchemy = "<2.0"
jinja2 = "*"
psycopg2-binary = "*" # sqlalchemy uses psycopg2 by default, so we can't drop it
eth-abi = "*"
redis = "*"
ethereum-dasm = "*"
base58 = "*"
ecdsa = "*"
chainside-btcpy = "*"
ply = "*"
pyyaml-include = "*"
cachetools = "*"
millify = '==0.1.1'
diskcache = '==5.4.0'
loky = '==3.1.0'
simplejson = '==3.17.6'
jsonlines = "*"
prometheus_client = "*"
rpq = "==2.2"
pypeln = "*"
kafka-python = "*"

[dev-packages]
pre-commit = "*"
black = "*"
ipython = "*"
jupyterlab = "*"
pytest = "*"

[requires]

[pipenv]
allow_prereleases = true
